*{
  margin: 0;
  padding: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(155deg, #00203fff, #4070f4);
}
.students{
  display: flex;
  gap: 40px;
  height: auto;
  width: 100%;
  background-color: linear-gradient(155deg, #00203fff, #4070f4);; 
}
  
.enroll-student{
  position:relative;
  max-width: 500px;
  width: 100%;
  left: 30px;
  border-radius: 10px;
  padding: 30px;
  margin: 0 15px;
  background-color: white;
  box-shadow: 5px 5px 25px black,
  inset 5px 5px 10px white,
  inset 5px 5px 20px white,
  inset -5px -5px 15px white;
  box-sizing: border-box;
}
  
#enrolled-students{
  position:relative;
  max-width: 650px;
  width: 100%;
  right: 30PX;
  border-radius: 10px;
  padding: 30px;
  margin: 0 15px;
  background-color: white;
  box-shadow: 5px 5px 25px black,
  inset 5px 5px 10px white,
  inset 5px 5px 20px white,
  inset -5px -5px 15px white;
}
  
.enroll-heading{
  position: relative;
  font-size: 30px;
  font-weight: 600;
  color: #333;
}
.enroll-heading::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 4px;
  width: 140px;
  border-radius: 8px;
  background-color: blue;
}
  /* .gender {
    padding-left: 15px;
  }
  
  .label {
    display: flex;
    font-size: 30px;
  } */
  
  .form-control {
    margin-bottom: 15px;
  }
  
  .seperation-border {
    top: 50px;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px 0px var(--bg-light-green);
    width: 1.3px;
    height: 70vh;
    background: var(--bg-light-green);
  }
  
  @media screen and (max-width: 768px) {
    hr.seperation-border{
      height: 0;
    }
  }
  
  .sectionHeading {
    display: flex;
    align-items: center;
    background-color: var(--bg-green-yellow);
    color: rgb(5, 79, 152);
    box-sizing: border-box;
    border: solid 2px var(--b-dark-yellow);
  }
  
  .sectionHeading > p {
    padding: 7px 12px;
    margin: 0;
    font-size: 25px;
    font-weight: 700;
  }
  
  .description {
    box-sizing: border-box;
    border-right: solid 2px var(--b-dark-yellow);
    margin-bottom: 0;
    width: 70%;
  }
  
  .Image {
    margin-bottom: 0;
    width: 30%;
  }
  
  .infoText {
    margin: 0;
    padding: 0;
  }
  
  .userName {
    font-weight: bold;
  }
  
  .wrapper {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    height: 135px;
    margin-bottom: 15px;
    justify-content: space-between;
    border: solid 2px var(--b-dark-yellow);
    border-top: none;
    animation: fadeIn 2s;
    position: relative;
  }
  
  .userDeleteBtn {
    display: block;
    border: none;
    cursor: pointer;
    text-align: center;
    height: 37px;
    margin-right: 10px;
    font-size: 25px;
    width: 40px;
    transform: rotate(45deg);
    background: linear-gradient(rgb(180, 16, 16),  red);
    border-radius: 50px;
    color: white;
  }
  
  @media screen and (max-width: 768px) {
    button.userDeleteBtn {
      display:block;
    }
    
  }
  
  .wrapper:hover .userDeleteBtn {
    display: block;
  }
  
  .wrapper:nth-child(odd) {
    background-color: #d7d0d0;
    width: 600px;
    border: solid 2px #abaaaa;
  }
  .wrapper:nth-child(even) {
    background-color: #d7d0d0;
    border: solid 2px #abaaaa;
    width: 600px;
  }
  
  .textInfoContainer {
    width: 70%;
    height: 100%;
    box-sizing: content-box;
    padding: 15px;
  }
  
  .imageContainer {
    width: 30%;
    height: 100%;
    border-left: solid 2px #abaaaa;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .userImage {
    height: auto;
    width: 105px;
  }
  
  .fadeIn {
    animation: fadeIn 2s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
.main-form{
  position: relative;
  margin-top: 25px;
  height: 500px;
  border: solid 2px #abaaaa;
  background-color: #d7d0d0;
}
.harsh{
  position: relative;
  padding: 20px;
  margin: 0 20px;
  height: 450px;
}